body {
    padding: 15px;
    /* background: #94bbe9 !important; */
}
.img-column {
    float: left;
    width: 30%;
    padding: 10px;
}
.intro-column {
    float: left;
    width: 50%;
    padding: 10px;
}
.my-img {
    border:1px solid;
    border-radius: 50%;
    box-shadow: 5px 2px 5px 2px #888888;
    height: 120px;
    width:120px;
}

.sub-titles {
    color: #888888;
}

.social-icons {
    height: 30px;
    width: 30px;
}

.header-background {
    /* background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}

h1, h2, h4, h5, h3, p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}